# VPN setups
export VPN_SERVER=<FILL>
export VPN_USERNAME=<FILL>
export VPN_PASSWORD=<FILL>

# ROUTER settings
export CSR_IP=<FILL>
export CSR_USERNAME=<FILL>
export CSR_PASSWORD=<FILL>

# Webex settings
export WEBEX_TOKEN=<FILL>
export WEBEX_ROOM=<FILL>