{
    "Cisco-IOS-XE-native:interface": {
        {% for int_type, interfaces in device.interfaces.items() %}
        "{{ int_type }}": [
            {% for interface in interfaces %}
            {
                "name": {{ interface.name }},
                "description": "{{ interface.description }}",
                "ip": {
                    "address": {
                        "primary": {
                            "address": "{{ interface.ip }}",
                            "mask": "{{ interface.subnet }}"
                        }
                    }
                }
                {% if int_type!="Loopback" %}
                ,
                "mop": {
                    "enabled": false,
                    "sysid": false
                },
                "Cisco-IOS-XE-ethernet:negotiation": {
                    "auto": true
                }
                {% endif %}
            } {{ "," if not loop.last else "" }}
            {% endfor %}
        ]{{ "," if not loop.last else "" }}
    {% endfor %}
    }
}
